.feed-item {

  .news-detail {
    > span + span {
      margin-left: 5px;
    }
    // text-align: left;
  }

  .feed-source-url {
    text-decoration: none;

    a {
      color: #999;
    }
  }

  .upvoteBtn {
    font-size: 12px;
    &:hover {
      cursor: pointer;
    }
  }
}